
/* 
==================================================
CLASES GENERALES
==================================================
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	color: white;
	background-color: #4486af;
}

/* 
==================================================
PARA HACER LOS DOTS DE LAS APUESTAS
==================================================
*/
.dot {
	height: 10px;
	width: 10px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
}
.bet-green {
	background-color: rgb(26, 236, 26);
}

/* 
==================================================
INDEX PRINCIPAL
==================================================
*/
.login {
	width: 80%;
	max-width: 512px;
	margin: 0 auto;
}
.login header {
	margin: 16px 0 48px 0;
}
.login h1 {
	text-align: center;
}
.login form {
	padding-top: 0.5rem;
	display: grid;
	grid-template-columns: 1fr;
	justify-content: left;
	gap: 0.5rem;
}
form input[type=text], form select {
	height: 28px;
} 
form label {
	margin: 0;
}
form select {
	margin-bottom: 0.5rem;
}

/* 
==================================================
INICIA LA PARTE DE PAGINA DEL JUEGO
==================================================
*/
a {
	color: white;
}
a:hover {
	color: white;
	text-decoration: none;
}
.grid-container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 5vh 30vh 30vh 35vh;
	grid-column-gap: 10px;
	justify-content: center;
	background-color: #254b62;
}
.nav-row {
	grid-row: 1 / 2;
	grid-column: 1 / -1;
	background-color: #1d3e53;
	display: flex;
}
.nav-row > * {
	justify-content: space-around;
	flex-grow: 1;
	text-align: center;
}
.trump-row {
	grid-row: 2 / 3;
	grid-column: 1 / -1;
	display: flex;
	justify-content: center;
	text-align: center;
}
.players-row {
	grid-row: 3 / 4;
	grid-column: 1 / -1;
	display: flex;
	justify-content: center;
}
.players-hands {
	flex-grow: 1;
	text-align: center;
}
.self-row {
	grid-row: 4 / 5;
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 100%;
	justify-content: center;
	align-content: start;
	grid-gap: 1em;
}
.player-hand {
	grid-column: 3 / 11;
	display:flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: start;
	overflow-x: auto;
}
.buttons {
	grid-column: 11 / 13;
	margin-right: 1rem;
	align-self: start;
}
.handCards {
	margin: 1rem 0.5rem;
}