
/* 
==================================================
CLASES GENERALES
==================================================
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	color: white;
	background-color: #4486af;
}

/* 
==================================================
PARA HACER LOS DOTS DE LAS APUESTAS
==================================================
*/
.dot {
	height: 10px;
	width: 10px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
}
.bet-green {
	background-color: rgb(26, 236, 26);
}

/* 
==================================================
INDEX PRINCIPAL
==================================================
*/
.login {
	width: 80%;
	max-width: 512px;
	margin: 0 auto;
}
.login header {
	margin: 16px 0 48px 0;
}
.login h1 {
	text-align: center;
}
.login form {
	padding-top: 0.5rem;
	display: grid;
	grid-template-columns: 1fr;
	justify-content: left;
	gap: 0.5rem;
}
form input[type=text], form select {
	height: 28px;
} 
form label {
	margin: 0;
}
form select {
	margin-bottom: 0.5rem;
}

/* 
==================================================
INICIA LA PARTE DE PAGINA DEL JUEGO
==================================================
*/
a {
	color: white;
}
a:hover {
	color: white;
	text-decoration: none;
}
.game {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 7vh 30vh 30vh 33vh;
	justify-content: center;
	background-color: #254b62;
}
/* Navbar */
.game > .nav-bar {
	display: flex;
	background-color: #1d3e53;
	align-items: center;
}
.game > .nav-bar > * {
	margin: 0;
	flex-grow: 1;
	text-align: center;
}
/* Trump row */
.trump-row {
	display: flex;
	justify-content: center;
	text-align: center;
}
/* Player row */
.players-row {
	display: flex;
	justify-content: center;
}
/* Players hands */
.players-row > .player-hand {
	flex-grow: 1;
	text-align: center;
}
/* Self hand */
.self-row {
	padding-left: 8rem;
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	grid-gap: 10rem;
}
.self-row > .player-hand {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row-reverse;
	overflow-x: auto;
}
.buttons {
	margin-right: 1rem;
	align-self: start;
}
.handCards {
	margin: 1rem 0.5rem;
}