.fill-height { flex-grow: 1; width: 100%; }

.center-all {
	justify-content: center !important;
	text-align: center;
}

body {
	color: white;
}

.dot {
	height: 10px;
	width: 10px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
}
.bet-green {
	background-color: rgb(26, 236, 26);
}